

nav			{
			 display:block;
			}
			
nav li		{
			 font-size: 1.17em;
			 font-weight: bold;
			 display: inline;
			 list-style-type: none;
			 padding-right: 3.5%;
			 padding-left: 3.5%;
			 }
			
nav a		{
			 color: #372514;
			 text-decoration: none;
			}
nav	a:hover	{
			 text-shadow: 2px 2px rgba(238,235,232, 0.8);
			 text-decoration:none;
			}
nav	a:active{
			}